{{>navbar}}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header p-4">
            <span><img style="width: 30px" src="{{user.profile.avatar}}" alt="profile picture"></span>
            <h5 class="modal-title text-primary font-weight-bold">{{user.profile.firstName}}{{user.profile.lastName}}</h5>
        </div>
      <div class="form-group">
<div>
  <h2>Phone numbers</h2>
  <ul>
    {{#each user.profile.phoneNumbers}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
<div>
  <h2>Emails</h2>
  <ul>
    <li>{{user.email}}</li>
    {{#each user.profile.secondaryEmails}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
<div>
  <h2>Ethereum address</h2>
  <ul>
    {{#each user.profile.ethAddresses}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
<h2>Postal address</h2>
<ul>
  {{#each user.profile.postalAddresses}}
  <li>
    {{#if this.principalResidency }}
    <h4>Principal Residency</h4> <br>
    {{else}}
    <h4>Secondary Residency </h4><br>
    {{/if}}
    {{this.streetNumber}} {{this.special}} {{this.streetName}} <br>
    {{this.postCode}}   {{this.city}} <br>
    {{this.country}}
  </li>
  {{/each}}
</ul>
</div>
<div>
  <h2>Social Accounts</h2>
  <ul>
    <li> Google : {{user.profile.googleId}}</li>
    <li>Twitter : {{user.profile.twitterId}}</li>
    <li>Facebook : {{user.profile.facebookId}}</li>
    <li>GitHub : {{user.profile.githubId}}</li>
  </ul>
</div>

<div>
    <button class="btn btn-secondary btn-sm"><a href="/user/profile-edit" style="color:white">Update profile</a></button>
    <button type="button" class="btn btn-secondary btn-sm" id="ethjsPersonalSignButton">Confirm Ethereum address</button> 
</div>