<td class="table-division">
  <div><a href="/contact/{{this._id}}"><img src="{{this.avatar}}" alt="img" class="table-image" /></a></div>
</td>
<td class="table-division">
  <div><a href="/contact/{{this._id}}">{{this.firstName}}</a></div>
</td>
<td class="table-division">
  <div><a href="/contact/{{this._id}}">{{this.lastName}}</a></div>
</td>

<td class="table-division">
  <a href="/contacts/contact-edit/{{this._id}}" data-id-sneaker="{{this._id}}" class="fa fa-edit table-icon"></a>
</td>
<td class="table-division">
  <span class="fa fa-trash table-icon" data-id-sneaker="{{this._id}}"  aria-hidden="true"></span>
</td>