<td class="table-division">
  <div><a href="/contact/{{this._id}}"><img src="{{this.avatar}}" alt="img" class="table-image" /></a></div>
</td>
<td class="table-division">
  <div><a href="/contact/{{this._id}}">{{this.lastName}}</a></div>
</td>
<td class="table-division">
  <div><a href="/contact/{{this._id}}">{{this.firstName}}</a></div>
</td>

