<td class="table-division">
  <div><img src="{{this.avatar}}" alt="img" class="table-image" /></div>
</td>
<td class="table-division">
  <div>{{!-- {{this.name}}   --}}name  </div>
</td>
<td class="table-division">
  <div>{{!-- {{this.phoneNumbers[0]}}   --}} phone number  </div>
</td>

<td class="table-division">
  <a href="/products/contact-edit/{{this._id}}" data-id-sneaker="{{this._id}}" class="fa fa-edit table-icon"></a>
</td>
<td class="table-division">
  <span class="fa fa-trash table-icon" data-id-sneaker="{{this._id}}"  aria-hidden="true"></span>
</td>